*{
    box-sizing: border-box;
}


#cont1{
        width:480px;
        height:475px;
        /* border: 2px solid black; */
        margin: auto;
        text-align: center;
    }

 #cont2{
       
        height:250px;
        line-height: 250px;
        width:480px;
        margin:auto;
        /* display:flex; */
        text-align:center;
    }

#cont3{
        height:250px;
        line-height: 250px;
        width:480px;
        margin:auto;
        /* display:flex; */
        text-align: center;
    }

#cont4{
        text-align: center;
    }

@media only screen and (min-width:960px){
    body{
        height:700px;
        width:960px;
        margin:auto;
       

    }
        #cont1{
            margin:auto;
            height:100px;
            width:960px;
        }
        
        #cont2
        {
            height:250px;
            width: 380px;
            margin:0px;
            padding:0px;
            overflow:hidden;
            float: left;
        }
        #cont3{
            height:250px;
            width:380px;
            margin:0px;
            padding:0px;
            overflow: hidden;
            float:right;
            
        }

        
        #cont4{
            height:150px;
            width:760px;
            margin:0px;
            padding:0px;
            overflow:hidden;
            float:left;
        }
       
    }


